body{
    background-color: #0A192F; 
    color:rgb(245, 239, 239) ;  
}

.navitems a{
    color: rgb(245, 239, 239);  

}

.navbar-toggler{
    background-color: rgb(245, 239, 239);
}

.navbar-nav {
    padding: 20px;
}

.container.heroText h1{
    color:rgb(245, 239, 239)
}

.jumbotron {

    margin-top: 250px;
    color: rgb(245, 239, 239);
    
}

.navbar-nav{
    
    font-size: 20px;
    margin-left: auto;  
}

.navbar-nav li{
    padding-left: 0px;
    padding-right: 20px;
    
}

.bioText.nameText, .bioText p{
    padding-top: 470px;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}





.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; 
border: 2px solid white;
}

.bioText,.aboutMe{
    justify-content: center;
    
}


.footer_bottom img { 
    position:absolute; 
    top:0;
    left:50%;
    margin-left:-125px;
}




