body{
    background-color: #0A192F; 
    color:rgb(245, 239, 239) ;  
    z-index: 3;
}

.navbar{
    position:sticky;
    top: 0;
    z-index: 1;
    background-color: #0A192F;
    padding: 0%;

}

.navitems a{
    color: rgb(245, 239, 239);
    padding: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    margin: 0 10px;
    

}

.navbar-toggler{
    background-color: rgb(245, 239, 239);
}


.navbar-nav{
    padding: 20px;
    font-size: 20px;
    margin-left: auto;  
}

.navbar-nav li{
    padding-left: 0px;
    padding-right: 20px;
    
}


.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 
}


.flex-container{
    /* border: 2px solid white; */
    
    display:flex;
    justify-content: space-between;
    flex-flow: column wrap;
    gap: 500px;
}

.flex-item.one{
    padding-top: 450px;
    align-self: center;
}

.flex-item.two{
    align-self: center;
}

.flex-item.one{
    align-self: center;
}


.aboutText{
    
    display:flex;     
    align-items:  center;    
    max-width: 800px;
    flex-flow: row wrap;
}


.about-items.text,.about-items.text2{
    flex-grow: 2;
}

.about-items.info{   
    padding-top :50px;
    padding-bottom: 100px;
    flex-grow: 3;
    font-size: 20px;
    text-align: justify;
}

.flex-item.three {    
     display: flex;
     flex-flow: row wrap;   
     justify-content: center;
     padding-bottom: 200px;
    }

.projecttitle{
    flex-grow: 2;
    display:flex;     
    align-items:  center;    
    flex-flow: row wrap;
    max-width: 800px;
    
}

.about-items.text2{
    text-align: right;
}
.break {
    flex-basis: 100%;
    height: 0;
  }

.projects{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    /* border: 2px solid white; */
    gap: 50px;
    align-items:baseline;
}

.projects div{

    padding: 10px 10px 10px 10px;   
    border-radius: 15px;
    background-color: #112240;
    color: #64FFDA;
    box-shadow: aliceblue;    
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;   
    transition: 0.5s;
    margin: 0 10px;    
    width: 350px;
    height: 350px;  
}




.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; 
    flex-wrap: wrap;  
}

.projects-items{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
}

.project-info{
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-icon{   
    height: 35px;
    width: 35px;
}

.projectContent{    
    border: 2px solid white;
}

